<div id="main-bar" class="main-bar__container">
  <div class="main-bar">
    <div class="main-bar__logo">
      <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
    </div>
    <div class="main-bar__search">
      <%= render partial: "layouts/decidim/header/main_search" %>
    </div>
    <div class="main-bar__links-desktop">
      <%= render partial: "layouts/decidim/header/main_links_desktop" %>
    </div>

    <div id="mobile-buttons" class="lg:hidden flex items-center gap-4 sm:gap-6">
      <%= render partial: "layouts/decidim/header/mobile_account_menu_toggle" %>

      <div id="mobile-menu-button-wrapper">
        <button
          aria-label="<%= t(".menu") %>"
          aria-controls="mobile-menu"
          aria-expanded="false"
          data-navbar-toggle="mobile-menu"
        >
          <span class="toggle-mobile-menu" data-state="inactive">
            <span class="mobile-menu-icon"><%= icon "menu-line" %></span>
            <span class="mobile-menu-label text-sm"><%= t(".menu") %></span>
          </span>
          <span class="toggle-mobile-menu" data-state="active">
            <span class="mobile-menu-icon"><%= icon "close-line" %></span>
            <span class="mobile-menu-label text-sm"><%= t(".close") %></span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
