<div id="main-bar" class="main-bar__container">
  <div class="main-bar">
    <div class="main-bar__logo">
      <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
    </div>
    <div class="main-bar__search">
      <%= render partial: "layouts/decidim/header/main_search" %>
    </div>
    <div class="main-bar__links-desktop">
      <%= render partial: "layouts/decidim/header/main_links_desktop" %>
      <%= render partial: "layouts/decidim/header/main_account_menu" %>
    </div>

    <button
      id="toggle-mobile-menu"
      class="lg:hidden absolute right-4"
      data-icon-open='<%= icon "menu-line", class: "w-8 h-8" %>'
      data-icon-close='<%= icon "close-line", class: "w-8 h-8" %>'
    >
      <%= icon "menu-line", class: "w-8 h-8" %>
    </button>
  </div>
</div>
