<%
links = Decidim::Nav::Link.with_navigable(navigable).ordered
top = []
children = {}

links.each do |link|
  if link.parent_id.present?
    children[link.parent_id] ||= []
    children[link.parent_id] << link
  else
    top << link
  end
end
%>

<% mobile ||= false %>

<% if mobile %>
  <div class="mobile-menu hidden" id="mobile-menu" role="menu" aria-labelledby="toggle-mobile-menu">
    <div class="pl-4 mb-10">
      <%= render partial: "layouts/decidim/header/main_search" %>
    </div>

    <div class="mobile-language">
      <% if available_locales.length > 3 %>
        <div class="main-bar__language-container">
          <button id="trigger-dropdown-language-chooser" data-component="dropdown" data-target="dropdown-menu-language-chooser" class="flex">
            <%= icon "global-line" %>
            <span><%= t("name", scope: "locale" ) %></span>
            <%= icon "arrow-down-s-line" %>
            <span class="sr-only">
              <% available_locales.each do |locale| %>
                <span lang="<%= locale %>">
                  <%= I18n.with_locale(locale) { t("layouts.decidim.language_chooser.choose_language") } %>
                </span>
              <% end %>
            </span>
          </button>

          <div id="dropdown-menu-language-chooser" aria-hidden="true">
            <ul class="main-bar__language" role="menu">
              <% (available_locales - [I18n.locale.to_s]).each do |locale| %>
                <li class="text-black text-md hover:underline hover:text-white transition" role="presentation">
                  <%= link_to locale_name(locale), decidim.locale_path(locale:), method: :post, role: "menuitem", lang: locale, class: "p-2 w-full block" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="simple-locales-container flex flex-row gap-2">
          <% available_locales.each do |locale| %>
            <%= link_to locale_name(locale),
                        decidim.locale_path(locale:),
                        method: :post,
                        role: "menuitem",
                        lang: locale,
                        class: "locale p-2 text-md text-black hover:underline transition" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= render partial: "decidim/nav/shared/action_panel_link", collection: top, as: :link, locals: { children: children, mobile: mobile } %>
  </div>
<% end %>

<%= render partial: "decidim/nav/shared/action_panel_link", collection: top, as: :link, locals: { children: children } unless mobile %>
