<% current_children = children[link.id] %>
<% mobile ||= false %>


<%= content_tag(:div, class: mobile ? "menu__bar-mobile" : "menu__bar-element") do %>
  <div class="<%= mobile ? 'menu-element-mobile' : 'menu-element' %>">
    <%= link_to translated_attribute(link.href), target: link.target.presence, class: ("button button__text menu__bar-element--link") do %>
      <span><%= translated_attribute(link.title) %></span>
    <% end %>

    <% if current_children.present? %>
      <% submenu_id = "submenu-#{link.id}#{"-mobile" if mobile}" %>

      <button
        type="button"
        class="<%= mobile ? 'menu-element-caret-mobile' : 'menu-element-caret' %>"
        aria-expanded="false"
        aria-controls="<%= submenu_id %>"
        data-toggle-target="<%= submenu_id %>">
        <%= icon "arrow-down-s-line", class: mobile ? "mobile-caret" : "caret", "aria-hidden": "true" %>
        <span class="sr-only">Toggle submenu for <%= translated_attribute(link.title) %></span>
      </button>
    <% end %>
  </div>

  <% if current_children.present? %>
    <ul id="<%= submenu_id %>" class="<%= mobile ? 'menu__bar-submenu-mobile' : "menu__bar-submenu" %>">
      <%= render partial: "decidim/nav/shared/action_panel_submenu", collection: current_children, as: :link, locals: { children: children, mobile: mobile } %>
    </ul>
  <% end %>
<% end %>
