<div class="card" id="nav_links">
  <div class="card-divider">
    <h2 class="card-title">
        <%= t "decidim.admin.titles.nav" %> <%= link_to t("actions.add", scope: "decidim.admin"), new_link_path, class: "button tiny button--title" %>
    </h2>
  </div>
  <div class="card-section">
    <% if @links.any? %>
      <div class="table-scroll">
        <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.nav.link.fields.title", scope: "decidim.admin") %></th>
            <th><%= t("models.nav.link.fields.weight", scope: "decidim.admin") %></th>
            <th><%= t("models.nav.link.fields.href", scope: "decidim.admin") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "link_row", collection: @links, as: :link, locals: { level: 0 } %>
        </tbody>
        </table>
      </div>
    <% else %>
      <p><%= t(".no_links") %></p>
    <% end %>
  </div>
</div>
