<% add_decidim_page_title(t("decidim.admin.titles.nav")) %>
<div class="card" id="nav_links">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t "decidim.admin.titles.nav" %>
      <%= link_to t("actions.add", scope: "decidim.admin"), new_link_path, class: "button button__sm button__secondary" %>
    </h1>
  </div>

  <% if @links.any? %>
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.nav.link.fields.title", scope: "decidim.admin") %></th>
            <th><%= t("models.nav.link.fields.weight", scope: "decidim.admin") %></th>
            <th><%= t("models.nav.link.fields.href", scope: "decidim.admin") %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: "decidim/nav/admin/links/link_row", collection: @links, as: :link, locals: { level: 0 } %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p><%= t(".no_links") %></p>
  <% end %>
</div>
